{% extends "base.html" %}
{% block title %}Просмотр поста{% endblock %}
{% block content %}
<main role="main" class="container">
        <div class="row">
                {% include "inclusions/author_card.html" with author=author paginator=paginator%}
                <div class="col-md-9">

                        <!-- Пост -->  
                {% include "inclusions/post_card.html" with post=post post_id=post_id author=author viewer=viewer%}
                </div>
        </div>
</main>
{% endblock %}
