{% extends "base.html" %}
{% block title %}Страница автора {{ author.get_full_name }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            {% include "inclusions/author_card.html" with author=author paginator=paginator %}

            <div class="col-md-9">                
                {% for post in page %}
                <!-- Начало блока с отдельным постом --> 
                {% include "inclusions/post_card.html" with author=author viewer=viewer post=post post_id=post.id %}
                <!-- Конец блока с отдельным постом --> 
                <!-- Остальные посты -->  
                {% endfor %}
                <!-- Здесь постраничная навигация паджинатора -->
                {% include "inclusions/paginator.html" with paginator=paginator %}

     </div>
    </div>
</main>
{% endblock %}